main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

img {
  border-radius: 20%;
}
.card {
  display: flex;
  border: 1px solid black;
  padding: 10px 20px;
  max-width: 80%;
    margin: 20px;
flex-wrap: wrap;
  flex-direction: row;
}
.flex-container {
  display: flex;
 justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}